In [2]:
import pandas as pd

request = pd.read_excel('./sample_data.xlsx', sheet_name="request")
impression = pd.read_excel('./sample_data.xlsx', sheet_name="impression")
feedback = pd.read_excel('./sample_data.xlsx', sheet_name="feedback")

feedback.head(10)

,request_id,track_id,clicked,skipped_10s,listened_30s,liked,listened_sec,reward_score
0,REQ_0001,TRK_00051,1,0,1,1,842,6
1,REQ_0001,TRK_00054,1,0,1,0,463,3
2,REQ_0001,TRK_00057,1,0,0,0,184,1
3,REQ_0001,TRK_00060,0,1,0,0,62,-2
4,REQ_0001,TRK_00063,0,1,0,0,41,-2
5,REQ_0002,TRK_00006,1,0,1,1,905,6
6,REQ_0002,TRK_00007,1,0,1,0,512,3
7,REQ_0002,TRK_00008,1,0,0,0,201,1
8,REQ_0002,TRK_00009,0,1,0,0,53,-2
9,REQ_0002,TRK_00010,0,1,0,0,39,-2

In [3]:
# request_id 기준 개수 체크
request["request_id"].nunique()
impression["request_id"].nunique()
feedback["request_id"].nunique()

50

In [4]:
# impression <-> feedback 1:1대응 체크
assert (
    impression[["request_id", "track_id"]]
    .merge(feedback[["request_id", "track_id"]],
           on=["request_id", "track_id"],
           how="outer")
    .isnull()
    .sum()
    .sum() == 0
)

In [5]:
# 학습 단위(track 하나) 테이블 만들기
df = (
    impression
    .merge(feedback, on=["request_id", "track_id"], how="left")
    .merge(request, on="request_id", how="left")
)

df.head(10)

,policy_id,request_id,track_id,artist_id,rank,clicked,skipped_10s,listened_30s,liked,listened_sec,...,user_id,created_at,context_text,mood_vector,dominant_mood,mood_level_max,mood_entropy,situation_tag,place_tag,weather_tag
0,POL_RULE_V1,REQ_0001,TRK_00051,ART_0017,1,1,0,1,1,842,...,U_001,2025-01-01 08:12:00,출근 준비하면서 기분이 좀 가라앉아,"[1,7,3,4,1,2,1]",sadness,7,1.42,commuting,home,cloudy
1,POL_RULE_V1,REQ_0001,TRK_00054,ART_0018,2,1,0,1,0,463,...,U_001,2025-01-01 08:12:00,출근 준비하면서 기분이 좀 가라앉아,"[1,7,3,4,1,2,1]",sadness,7,1.42,commuting,home,cloudy
2,POL_RULE_V1,REQ_0001,TRK_00057,ART_0019,3,1,0,0,0,184,...,U_001,2025-01-01 08:12:00,출근 준비하면서 기분이 좀 가라앉아,"[1,7,3,4,1,2,1]",sadness,7,1.42,commuting,home,cloudy
3,POL_RULE_V1,REQ_0001,TRK_00060,ART_0020,4,0,1,0,0,62,...,U_001,2025-01-01 08:12:00,출근 준비하면서 기분이 좀 가라앉아,"[1,7,3,4,1,2,1]",sadness,7,1.42,commuting,home,cloudy
4,POL_RULE_V1,REQ_0001,TRK_00063,ART_0021,5,0,1,0,0,41,...,U_001,2025-01-01 08:12:00,출근 준비하면서 기분이 좀 가라앉아,"[1,7,3,4,1,2,1]",sadness,7,1.42,commuting,home,cloudy
5,POL_RULE_V2,REQ_0002,TRK_00006,ART_0002,1,1,0,1,1,905,...,U_002,2025-01-01 22:45:00,혼자 방에서 누워서 멍 때리고 있어,"[0,6,2,3,1,1,2]",sadness,6,1.31,resting,home,night
6,POL_RULE_V2,REQ_0002,TRK_00007,ART_0003,2,1,0,1,0,512,...,U_002,2025-01-01 22:45:00,혼자 방에서 누워서 멍 때리고 있어,"[0,6,2,3,1,1,2]",sadness,6,1.31,resting,home,night
7,POL_RULE_V2,REQ_0002,TRK_00008,ART_0003,3,1,0,0,0,201,...,U_002,2025-01-01 22:45:00,혼자 방에서 누워서 멍 때리고 있어,"[0,6,2,3,1,1,2]",sadness,6,1.31,resting,home,night
8,POL_RULE_V2,REQ_0002,TRK_00009,ART_0003,4,0,1,0,0,53,...,U_002,2025-01-01 22:45:00,혼자 방에서 누워서 멍 때리고 있어,"[0,6,2,3,1,1,2]",sadness,6,1.31,resting,home,night
9,POL_RULE_V2,REQ_0002,TRK_00010,ART_0004,5,0,1,0,0,39,...,U_002,2025-01-01 22:45:00,혼자 방에서 누워서 멍 때리고 있어,"[0,6,2,3,1,1,2]",sadness,6,1.31,resting,home,night

In [6]:
df.query("liked == 1 & (clicked == 0 | listened_30s == 0)")

Empty DataFrame
Columns: [policy_id, request_id, track_id, artist_id, rank, clicked, skipped_10s, listened_30s, liked, listened_sec, reward_score, user_id, created_at, context_text, mood_vector, dominant_mood, mood_level_max, mood_entropy, situation_tag, place_tag, weather_tag]
Index: []

[0 rows x 21 columns]

In [7]:
df.query("skipped_10s == 1 & listened_30s == 1")

Empty DataFrame
Columns: [policy_id, request_id, track_id, artist_id, rank, clicked, skipped_10s, listened_30s, liked, listened_sec, reward_score, user_id, created_at, context_text, mood_vector, dominant_mood, mood_level_max, mood_entropy, situation_tag, place_tag, weather_tag]
Index: []

[0 rows x 21 columns]

In [8]:
df.groupby("rank")["clicked"].mean()

rank
1    0.94
2    1.00
3    0.56
4    0.02
5    0.22
Name: clicked, dtype: float64

In [9]:
df["reward_score"].value_counts().sort_index()

reward_score
-2    113
 1     50
 3     49
 6     38
Name: count, dtype: int64

In [10]:
df.groupby("policy_id")["reward_score"].mean()

policy_id
POL_HYBRID_V1    0.700000
POL_RULE_V1      0.858824
POL_RULE_V2      0.823529
Name: reward_score, dtype: float64

In [11]:
import numpy as np
import ast

def mood_entropy(mood_vector):
    x = np.array(mood_vector, dtype=float)
    if x.sum() == 0:
        return 0.0
    p = x / x.sum()
    p = p[p>0]
    return -np.sum(p*np.log(p))

df["mood_vector_parsed"] = df["mood_vector"].apply(ast.literal_eval) 
df["mood_entropy"] = df["mood_vector_parsed"].apply(mood_entropy)

df["mood_entropy"]

0      1.689245
1      1.689245
2      1.689245
3      1.689245
4      1.689245
         ...
245    1.351784
246    1.351784
247    1.351784
248    1.351784
249    1.351784
Name: mood_entropy, Length: 250, dtype: float64

In [12]:
df.to_excel("./sample_data_2.xlsx")

In [13]:
df.columns

Index(['policy_id', 'request_id', 'track_id', 'artist_id', 'rank', 'clicked',
       'skipped_10s', 'listened_30s', 'liked', 'listened_sec', 'reward_score',
       'user_id', 'created_at', 'context_text', 'mood_vector', 'dominant_mood',
       'mood_level_max', 'mood_entropy', 'situation_tag', 'place_tag',
       'weather_tag', 'mood_vector_parsed'],
      dtype='object')

In [23]:
mood_cols = ["anger","sadness","pain","anxiety","shame","joy","love"]

mood_df = pd.DataFrame(df["mood_vector_parsed"].tolist(),
                       columns=[f"mood_{c}" for c in mood_cols])

mood_df

,mood_anger,mood_sadness,mood_pain,mood_anxiety,mood_shame,mood_joy,mood_love
0,1,7,3,4,1,2,1
1,1,7,3,4,1,2,1
2,1,7,3,4,1,2,1
3,1,7,3,4,1,2,1
4,1,7,3,4,1,2,1
...,...,...,...,...,...,...,...
245,0,2,0,1,0,2,2
246,0,2,0,1,0,2,2
247,0,2,0,1,0,2,2
248,0,2,0,1,0,2,2
249,0,2,0,1,0,2,2

In [22]:
dominant_mood = pd.get_dummies(df["dominant_mood"], 
                               columns=["dominant_mood"], 
                               prefix="dominant_mood")

situation_tag = pd.get_dummies(df["situation_tag"],
                               columns=["situation_tag"],
                               prefix="situation")

place_tag = pd.get_dummies(df["place_tag"],
                           columns=["place_tag"],
                           prefix="place")

weather_tag = pd.get_dummies(df["weather_tag"],
                             columns=["weather_tag"],
                             prefix="weather")

weather_tag

     weather_clear  weather_cloudy  weather_night  weather_rain
0            False            True          False         False
1            False            True          False         False
2            False            True          False         False
3            False            True          False         False
4            False            True          False         False
..             ...             ...            ...           ...
245          False           False           True         False
246          False           False           True         False
247          False           False           True         False
248          False           False           True         False
249          False           False           True         False

[250 rows x 4 columns]

In [27]:
X = pd.concat([mood_df, dominant_mood, df["mood_level_max"], df["mood_entropy"],
                  situation_tag, place_tag, weather_tag], axis=1)

X

,mood_anger,mood_sadness,mood_pain,mood_anxiety,mood_shame,mood_joy,mood_love,dominant_mood_anxiety,dominant_mood_joy,dominant_mood_love,...,place_cafe,place_gym,place_home,place_office,place_outdoor,place_transport,weather_clear,weather_cloudy,weather_night,weather_rain
0,1,7,3,4,1,2,1,False,False,False,...,False,False,True,False,False,False,False,True,False,False
1,1,7,3,4,1,2,1,False,False,False,...,False,False,True,False,False,False,False,True,False,False
2,1,7,3,4,1,2,1,False,False,False,...,False,False,True,False,False,False,False,True,False,False
3,1,7,3,4,1,2,1,False,False,False,...,False,False,True,False,False,False,False,True,False,False
4,1,7,3,4,1,2,1,False,False,False,...,False,False,True,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,0,2,0,1,0,2,2,False,True,False,...,False,False,True,False,False,False,False,False,True,False
246,0,2,0,1,0,2,2,False,True,False,...,False,False,True,False,False,False,False,False,True,False
247,0,2,0,1,0,2,2,False,True,False,...,False,False,True,False,False,False,False,False,True,False
248,0,2,0,1,0,2,2,False,True,False,...,False,False,True,False,False,False,False,False,True,False
249,0,2,0,1,0,2,2,False,True,False,...,False,False,True,False,False,False,False,False,True,False

In [28]:
y = df["reward_score"].astype(float)

In [30]:
df.groupby("request_id").size().to_list()

[5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5]